@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14;
  font-style: normal;
}

.inter-bold{
    color: rgb(255, 255, 255);
}

.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
}



body{
    background-color: #e6e4e4ad;
}








.nav-container{
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
}


.nav-items{
    display: flex;
    gap: 30px;
    font-family: poppins-semibold;
    list-style: none;
}

/* hero section  */

.hero-container{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    gap: 130px;
    margin: 50px auto;
}

.hero-title-container{
    width: 580px;
    row-gap: 0px;
    column-gap: 0px;
}

.hero-heading{
    font-size: 50px;
}

.hero-button{
    background-color: #E02C6D;
    width: 190px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    justify-content: center; 
    margin: 10px 0px;
}








.hero-pic-container{
    background-image: url('images/Circle\ design.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 480px;
    width: 480px;
    
}

/* partnership section  */

.partnership-container{
    width: 1110px;
    display: flex;
    border-top: 1px solid rgb(236, 235, 235);
    border-bottom: 1px solid rgb(236, 235, 235);
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px auto;
}



/* card section */

.collection{
    justify-items: center;
    margin: 90px;
}



.popular-container{
    width: 1040px;
    height: 1660px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.card-container{
   background-color: #FFFFFF;
   width: 350px;
   height: 500px;
   justify-items: center;
   border-radius: 10px;
}

.card{
    margin: 10px;
    height: 500px;
}

.card-title{
    margin-top: 10px;
    margin-bottom: 0px;
}

.price-title{
    margin-top: 10px;
    margin-bottom: 0px;
}

.price-paragraph{
    margin-top: 10px;
    color: rgba(120, 120, 133, 1);
}

.pagination{
    position: relative;
    left: 500px;
    color: #E02C6D;
}

/* featured section  */

.featured-container{
    margin: 0px auto;
    width: 1110px;
    height: 270px;
    display: flex;
    gap: 90px;
    margin-bottom: 90px;
    justify-content: center;
}

.feature-btn{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #E02C6D;
    color: white;
    font-weight: bold;
    font-family: "Poppins", sans-serif;

}

.feature-title{
    margin-bottom: 16px;
}


/* footer section  */

.footer-container{
    background-color: rgb(12, 11, 11);
    
}

.footer-title{
    color: #FFFFFF;
    margin-bottom: 0px;
}

.icon-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-container{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.icon-border{
    background-color: #21213b;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hide{
    display: none;
}








@media screen and (max-width:576px) {
    .nav-container, .nav-items{
        flex-direction: column;
    }
.hero-container{
    flex-direction: column-reverse;
    gap: 20px;
}
.hero-title-container{
    width: 100%;
}
.hero-pic-container{
    width: 100%;
    height: 100%;
    
}
.hero-pic-container img {
    width: 90%;
}

/* partnership section */
.partnership-container{
    width: 80%;
    padding: 40px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    gap: 0px;
    row-gap: 10px;
    
}

.partnership-container img{
    width: 70%;
}

/* collection section  */

.collection{
    margin: 0px;
    flex-direction: column;
    justify-content: space-between;
    
}

.popular-container{
    width: 100%;
    height: 100%;
    margin: 0px;
    grid-template-columns: 1fr;
    justify-items: center;
}

.pagination{
    top: 10px;
    left: 90px;
}

/* featured section */

.featured-container{
    width: 100%;
    margin-top: 200px;
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    gap: 30px;
}

.feature-img-container img{
    width: 100%;
}


}


/* @media screen and (min-width:576px) and (max-width:768px) {
    .hero-container{
        flex-direction: row;
        max-width: 750px;
    }
    
    .partnership-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 700px;
    }
} */























